<a href="https://colab.research.google.com/github/vineetvermaml/Earthquake_Challange/blob/main/Earthquake_Challange.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)

In [ ]:
from google.colab import files

In [ ]:
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"vineetvermaai","key":"88f38f0a44c2c1890a4998ae6917abc2"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
contradictory-my-dear-watson                   2030-07-01 23:59:00  Getting Started     Prizes        143           False
gan-getting-started                            2030-07-01 23:59:00  Getting Started     Prizes        266           False
tpu-getting-started                            2030-06-03 23:59:00  Getting Started  Knowledge        822           False
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       4506           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge      37452            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       9812           False
connectx                                       2030-01-01 00:00:00  Getting Started  Knowledge        772           False
nlp-getting-started                            2030-01-01 00:00:00  Getting Started  Knowledge       2587           False
competitive-data-science-predict-future-sales  2022-12-31 23:59:00  Playground           Kudos      11301           False
jane-street-market-prediction                  2021-08-23 23:59:00  Featured          $100,000       4245           False
commonlitreadabilityprize                      2021-08-02 23:59:00  Featured           $60,000        582           False
hungry-geese                                   2021-07-26 23:59:00  Playground          Prizes        599           False
coleridgeinitiative-show-us-the-data           2021-06-22 23:59:00  Featured           $90,000        883           False
bms-molecular-translation                      2021-06-02 23:59:00  Featured           $50,000        639           False
birdclef-2021                                  2021-05-31 23:59:00  Research            $5,000        463           False
tabular-playground-series-may-2021             2021-05-31 23:59:00  Playground            Swag        482           False
iwildcam2021-fgvc8                             2021-05-26 23:59:00  Research         Knowledge         34           False
herbarium-2021-fgvc8                           2021-05-26 23:59:00  Research         Knowledge         62           False
plant-pathology-2021-fgvc8                     2021-05-26 23:59:00  Research         Knowledge        471           False
hotel-id-2021-fgvc8                            2021-05-26 23:59:00  Research         Knowledge         79           False

In [ ]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 16.8MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 3.06MB/s]
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 76.3MB/s]

In [ ]:
!ls

drive  gender_submission.csv  kaggle.json  sample_data	test.csv  train.csv

In [ ]:
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("train.csv")

In [ ]:
# First 20 records of dataset
df.head(5)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
# statistical details of each column in Dataframe

df.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
# Checking various info about Dataframe columns 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
!pip install sweetviz

Collecting sweetviz
  Downloading https://files.pythonhosted.org/packages/6c/ab/5ef84ee47e5344e9a23d69e0b52c11aba9d8be658d4e85c3c52d4e7d9130/sweetviz-2.1.0-py3-none-any.whl (15.1MB)
     |████████████████████████████████| 15.1MB 274kB/s
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.1.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.19.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.4.1)
Requirement already satisfied: importlib-resources>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (5.1.2)
Collecting tqdm>=4.43.0
  Downloading https://files.pythonhosted.org/packages/72/8a/34efae5cf9924328a8f34eeb2fdaae14c011462d9f0e3fcded48e1266d1c/tqdm-4.60.0-py2.py3-none-any.whl (75kB)
     |████████████████████████████████| 81kB 8.0MB/s
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (2.11.3)
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (3.2.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2.8.1)
Requirement already satisfied: zipp>=0.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.2.0->sweetviz) (3.4.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (1.3.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (1.15.0)
Installing collected packages: tqdm, sweetviz
  Found existing installation: tqdm 4.41.1
    Uninstalling tqdm-4.41.1:
      Successfully uninstalled tqdm-4.41.1
Successfully installed sweetviz-2.1.0 tqdm-4.60.0

In [ ]:
# check the number of null values in each feature/columns
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
import sweetviz as sv
report =  sv.analyze(df)

                                             |          | [  0%]   00:00 -> (? left)

In [ ]:
report.show_notebook()

In [ ]:
df_nocabin = df.copy()

In [ ]:
## Since 77% of records for 'Cabin' feature is missing, hence adding a new category for all the null values

df['Cabin'].fillna('NewCabin',inplace = True)

In [ ]:
df['Cabin']

0      NewCabin
1           C85
2      NewCabin
3          C123
4      NewCabin
         ...
886    NewCabin
887         B42
888    NewCabin
889        C148
890    NewCabin
Name: Cabin, Length: 891, dtype: object

In [ ]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         2
dtype: int64

In [ ]:
## Find the correlation among predictors and then drop the irrelevant features

** NULL VALUE TREATMENT FOR NUMERICAL FEATURES**

In [ ]:
# using imputer to fill the nan values in the DataFrame, However imputer can work only on numerical predictors not on catergorical predictors
df_num = df[['PassengerId','Age','Fare']]

In [ ]:
df_categorical = df[['Pclass','Sex','SibSp','Parch','Cabin']]

In [ ]:
df_num.isna().sum()

PassengerId      0
Age            177
Fare             0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer(strategy="median")

In [ ]:
df_num

     PassengerId   Age     Fare
0              1  22.0   7.2500
1              2  38.0  71.2833
2              3  26.0   7.9250
3              4  35.0  53.1000
4              5  35.0   8.0500
..           ...   ...      ...
886          887  27.0  13.0000
887          888  19.0  30.0000
888          889   NaN  23.4500
889          890  26.0  30.0000
890          891  32.0   7.7500

[891 rows x 3 columns]

In [ ]:
imputer.fit(df_num)

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='median', verbose=0)

In [ ]:
imputer.statistics_

array([446.    ,  28.    ,  14.4542])

In [ ]:
df_num.median().values

array([446.    ,  28.    ,  14.4542])

In [ ]:
df_num.isna().sum()

PassengerId      0
Age            177
Fare             0
dtype: int64

In [ ]:
# imputer transform returns a nd array
X = imputer.transform(df_num)

In [ ]:
df.index

RangeIndex(start=0, stop=891, step=1)

In [ ]:
# Converting the nd array to dataframe
df_trans = pd.DataFrame(X, columns = df_num.columns,index=df_num.index)

In [ ]:
df_trans

     PassengerId   Age     Fare
0            1.0  22.0   7.2500
1            2.0  38.0  71.2833
2            3.0  26.0   7.9250
3            4.0  35.0  53.1000
4            5.0  35.0   8.0500
..           ...   ...      ...
886        887.0  27.0  13.0000
887        888.0  19.0  30.0000
888        889.0  28.0  23.4500
889        890.0  26.0  30.0000
890        891.0  32.0   7.7500

[891 rows x 3 columns]

In [ ]:
df_trans.isna().sum()

PassengerId    0
Age            0
Fare           0
dtype: int64

In [ ]:
# Using One Hot encoder for categorical values

In [ ]:
# based on the requirement , we can infer that label is 'SURVIVED', hence can be removed from the Predictors dataframe